In [1]:
import numpy as np
import pandas as pd

In [2]:
df_demand = pd.read_csv(r"C:\Users\Jang\Desktop\project\demand_center.csv",encoding="cp949")
df_candi = pd.read_csv(r"C:\Users\Jang\Desktop\project\real_last_dataframe___please.csv",encoding="cp949")
df_demand.drop(["geometry","change_geometry"],axis = 1,inplace=True)

In [3]:
df_demand.head(1)

   val         위도          경도
0  214  37.463657  126.912672

In [4]:
df_candi.head(1)

,name,위도,경도,유형,유동인구,후보지-쓰레기통,후보지-슈퍼빈,동,1인가구수,유동인구 예상 쓰레기배출량,1인가구수 예상 쓰레기배출량,지역 평균 임대료,1000m restaurant,3000m cluture,3000m hotel
0,사당,37.47653,126.981685,지하철,416,2.559308,2.047179,남현동,8579,307.09536,6333.10359,141991,45,0,0

# 스케일링

In [5]:
from sklearn.preprocessing import MinMaxScaler

In [6]:
scaler = MinMaxScaler()
scaler.fit(df_candi.loc[:,["유동인구","후보지-쓰레기통","후보지-슈퍼빈","1인가구수","유동인구 예상 쓰레기배출량","1인가구수 예상 쓰레기배출량","지역 평균 임대료","1000m restaurant","3000m cluture", "3000m hotel"]])
df_candi.loc[:,["유동인구","후보지-쓰레기통","후보지-슈퍼빈","1인가구수","유동인구 예상 쓰레기배출량","1인가구수 예상 쓰레기배출량","지역 평균 임대료","1000m restaurant","3000m cluture", "3000m hotel"]] = scaler.transform(df_candi.loc[:,["유동인구","후보지-쓰레기통","후보지-슈퍼빈","1인가구수","유동인구 예상 쓰레기배출량","1인가구수 예상 쓰레기배출량","지역 평균 임대료","1000m restaurant","3000m cluture", "3000m hotel"]])
df_candi.head(1)

,name,위도,경도,유형,유동인구,후보지-쓰레기통,후보지-슈퍼빈,동,1인가구수,유동인구 예상 쓰레기배출량,1인가구수 예상 쓰레기배출량,지역 평균 임대료,1000m restaurant,3000m cluture,3000m hotel
0,사당,37.47653,126.981685,지하철,0.303871,0.903307,0.808901,남현동,0.189441,0.303871,0.189441,0.916795,0.026923,0.0,0.0

# 인코딩

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
ordinals = ["유형", "동"]
for ord in ordinals:
    # ord 컬럼에 대해서 인코딩할 규칙용 모델..
    le = LabelEncoder()
    # 규칙
    le.fit(df_candi[ord])
    # train 데이터에 변환 적용!!!! a ->1, d (X)
    df_candi[ord] = le.transform(df_candi[ord])

In [9]:
df_candi.head(1)

,name,위도,경도,유형,유동인구,후보지-쓰레기통,후보지-슈퍼빈,동,1인가구수,유동인구 예상 쓰레기배출량,1인가구수 예상 쓰레기배출량,지역 평균 임대료,1000m restaurant,3000m cluture,3000m hotel
0,사당,37.47653,126.981685,2,0.303871,0.903307,0.808901,0,0.189441,0.303871,0.189441,0.916795,0.026923,0.0,0.0

# 타겟 설정

In [10]:
df_candi["target"]=""
df_candi["target"] = abs(df_candi["유동인구 예상 쓰레기배출량"]+df_candi["1인가구수 예상 쓰레기배출량"] -df_candi["지역 평균 임대료"])

In [11]:
df_candi.drop(["1인가구수 예상 쓰레기배출량","유동인구 예상 쓰레기배출량"],axis=1,inplace=True)

In [12]:
df_candi.head(2)

,name,위도,경도,유형,유동인구,후보지-쓰레기통,후보지-슈퍼빈,동,1인가구수,지역 평균 임대료,1000m restaurant,3000m cluture,3000m hotel,target
0,사당,37.47653,126.981685,2,0.303871,0.903307,0.808901,0,0.189441,0.916795,0.026923,0.00,0.00,0.423482
1,낙성대,37.47693,126.963693,2,0.130022,0.392739,0.181043,1,0.496534,0.704463,0.475000,0.25,0.25,0.077907

In [13]:
df_candi.to_csv("dataset.csv", index = False, encoding="cp949")

In [14]:
df_demand.to_csv("demand_list.csv", index = False, encoding="cp949")